
<div class="container mt-4">    
    <div class="row">
      <div *ngFor="let user of users;" class="col-sm-4">
        <div class="card mt-1" style="width: 18rem;">
          <img class="card-img-top" src="https://static.guiainfantil.com/pictures/jugar-y-aprender/33000/33008-adivinanzas-con-mi-cara-tan-cuadrada-lisa-o-con-dibujitos.jpg" alt="Card image cap">
          <div class="card-body ">
            <h5  class="card-title">Producto N°{{this.user}}</h5>
            <p5>Precio: $1500</p5>
            <br>
            <div class="d-flex flex-row-reverse">
            <a href="#" class="btn btn-outline-success btn-sm">+</a>
            </div>
          </div>
        </div>
      </div>
    
     
      
    </div>
  </div><br>