<div class="container ml-2 mt-4">   
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Todos</button>
        <button type="button" class="list-group-item list-group-item-action">Cestos</button>
        <button type="button" class="list-group-item list-group-item-action">Almohadones</button>
        <button type="button" class="list-group-item list-group-item-action">Guardapolvos</button>
        <button type="button" class="list-group-item list-group-item-action" >Niños</button>
        <button type="button" class="list-group-item list-group-item-action" >Cortinas</button>
        <button type="button" class="list-group-item list-group-item-action" >Delantales</button>
      </div>
</div>